    :root {
    --font-family--georgia: 'Georgia', serif;
    --font-family--arial: 'Arial', sans-serif;
    --color-light-xl: #ffffff;
    --color-light-l: #f6f6f6;
    --color-light-s: #fafafa;
    --color-dark-s: #cdcdcd;
    --color-dark-m: #b2b2b2;
    --color-dark-l: #545454;
    --color-dark-xl: #4c4c4c;
    --color-dark-2xl: #444444;
    --color-black: #000000;
    --color-light-xl: #ffffff;
    --color-primary: #f1cdb3;
    --color-primary-light: #fddcc4;
    --color-dark-s: #cdcdcd;
    --color-light-l: #f6f6f6;
    --color-light-s: #fafafa;
    --viewport--lg: 1280px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }
  
  body {
    font-family: var(--font-family--georgia);
    color: var(--color-dark-l);
    font-weight: 400;
  }
 
  h2 {
    font-size: 44px;
    line-height: 57px;
  }
  h3 {
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
  }
  h4 {
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
  }
  h5 {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 0.06em;
  }
 
  h2,
  h3,
  h4,
  h5 {
    font-family: var(--font-family--georgia);
    color: var(--color-dark-l);
    font-weight: 400;
  }

  .container {
    max-width: var(--viewport--lg);
    padding: 0 40px;
    margin: 0 auto;
  }
  
  .wrapper {
    max-width: 1280px;
    margin: 0 auto;
  }

  .p-l,
  .p-s {
    font-family: var(--font-family--arial);
    font-weight: 400;
  }
  
  .p-l {
    color: var(--color-dark-xl);
    font-size: 15px;
    line-height: 24px;
  }
  
  .p-s {
    color: var(--color-dark-m);
    font-style: italic;
    font-size: 12px;
    line-height: 18px;
  }

  .button {
    color: var(--color-dark-3xl);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.06em;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s;
  }
  
  .button_primary {
    border: none;
    padding: 15px 45px;
    background-color: var(--color-primary);
  }
  
  .button_secondary {
    padding: 13px 42.5px;
    background-color: transparent;
    border: 2px solid var(--color-primary);
  }
  
  .button_arrow {
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: 2px solid var(--color-primary);
  }
  
  .button_arrow_right svg {
    transform: rotate(180deg);
  }
  
  /* Header START */
  .header {
    position: absolute;
    width: 100%;
  }
  
  .header_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }
  
  .header_title {
    color: var(--color-primary);
    font-size: 32px;
    font-weight: 400;
    line-height: 35px;
    letter-spacing: 0.06em;
    margin: 0;
  }
  
  .header_subtitle {
    font-family: var(--font-family--arial);
    color: var(--color-light-xl);
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    margin: 0;
    margin-top: 10px;
    margin-left: 4px;
  }
  
  .menu_button {
    display: none;
    position: relative;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 5;
  }
  
  .menu_button_open {
    transform: rotate(90deg);
    margin-right: 1px;
  }
  
  .menu_button-icon {
    position: relative;
    display: block;
    width: 30px;
    height: 22px;
  }
   
  .menu_list {
    list-style: none;
    display: flex;
    gap: 36px;
    padding: 0;
    margin: 0;
  }
  
  .menu_link {
    display: block;
    font-family: var(--font-family--arial);
    color: var(--color-dark-s);
    font-size: 15px;
    line-height: 24px;
    transition: color 0.3s, border 0s;
  }
  
  .menu_link_active {
    color: var(--color-light-s);
    border-bottom: 3px solid var(--color-primary);
    pointer-events: none;
  }
    
  /* START */
  .start {
    padding-top: 180px;
    background-size: cover;
    background: url('../assets/img/start-screen-gradient-background.jpg')
  }
  
  .start_wrapper {
    display: flex;
    align-items: center;
    gap: 0 42px;
  }
  
  .start_left-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 42px;
    padding-bottom: 80px;
    flex: 0 3 460px;
  }
  
  .start_heading {
    max-width: 310px;
    color: var(--color-light-xl);
    margin: 0;
  }
  
  .start_subheading  {
    color: var(--color-dark-s);
    margin: 0;
  }
  
  .start_img {
    align-self: end;
    min-width: 0;
    flex: 0 2 auto;
    background: var(--start-screen-gradient-background), radial-gradient(237.5% 111.8% at 0% 0%, #5b483a 0%, #262425 100%), url("../assets/img/start-screen-gradient-background.jpg");
  }
  
  /* About */
  .about {
    padding: 80px 0 100px;
  }
  
  .about_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
  }
  
  .about_img {
    min-width: 0;
    flex: 0 1 auto;
    width: 300px;
    height: 408px;
  }
  
  .about_right-side {
    display: flex;
    flex-direction: column;
    gap: 25px;
    flex: 0 1 430px;
    height: 380px;
  }
  
  .about_heading {
    max-width: 370px;
    margin: 0;
  }
  
  .about_subheading {
    font-family: var(--second-family);
    max-width: 430px;
    margin: 0;
  }
  
  /* Our friends */
  .pets {
    background-color: var(--color-light-l);
    padding: 80px 0 100px;
  }
  
  .pets_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .pets_heading {
    max-width: 400px;
    margin: 0;
    text-align: center;
    margin-left: 2px;
  }
  
  .pets_slider {
    padding: 60px 0;
  }
  
  .slider {
    position: relative;
  }
  
  .pets_slider .pet-card {
    flex-shrink: 0;
  }
  
  .slider_button-left {
    position: absolute;
    top: 50%;
    left: -105px;
    transform: translateY(-50%);
  }
  
  .slider_button-right {
    position: absolute;
    top: 50%;
    right: -105px;
    transform: translateY(-50%);
  }
   
  /* Pet card */
  .pet-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 435px;
    background-color: var(--color-light-s);
    border-radius: 9px;
    transition: all 0.3s;
  }
  
  .pet-card_img {
    border-radius: 9px 9px 0px 0px;
  }
  
  .pet-card_name {
    color: var(--color-dark-l);
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    margin: 30px 0;
  }
  

  /* Our friends pets page */
  .slider_content {
    display: flex;
    gap: 20px;
    align-items:end;
  }
  
  
  /* Help page*/
  .help {
    padding: 80px 0 100px;
  }
  
  .help_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
  }
  
  .help_heading {
    max-width: 315px;
    margin: 0;
    text-align: center;
    padding-left: 2px;
  }
  
  .help_content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
  }
  
  .help_item {
    height: 113px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .help_icon{
     width: 60px;
    height: 60px;
  }
  .help_icon-text {
    margin: 0;
  }

  
  /* Donation */
  .donation {
    background-color: var(--color-light-l);
    padding: 80px 0 100px;
  }
  
  .donation_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  
  .donation_img {
    min-width: 0;
    flex: 0 1 auto;
  }
  
  .donation_right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex: 0 0 380px;
  }
  
  .donation_heading {
    max-width: 300px;
    margin: 0;
  }
  
  .donation_subheading {
    margin: 0;
  }
  
  .donation_link {
    flex-direction: row;
    align-items: center;
    gap: 15px;
    color: var(--color-dark-l);
    border-radius: 9px;
    padding: 10px 15px;
  }
  
  .donation_link-text {
    display: inline-block;
    white-space: nowrap;
    margin: 0;
  }
  
  .donation_text {
    margin: 0;
  }


  /* Footer */
  .footer {
    min-height: 350px;
    padding-top: 40px;
    background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
      #211f20;
  }
  
  .footer_wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
  
  .footer_left {
    margin-top: 16px;
    max-width: 279px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
  
  .footer_center {
    margin-top: 16px;
    max-width: 302px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .footer_title {
    color: var(--color-light-xl);
    margin: 0;
  }
  
  .footer_link {
    color: var(--color-primary);
    min-height: 32px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: all 0.3s;
  }
  
  .footer_link svg {
    flex-shrink: 0;
  }
  
  .footer_link svg path {
    transition: all 0.3s;
  }
  
  .footer_link h4 {
    color: inherit;
    margin: 0;
    transition: all 0.3s;
  }
  
  .footer_img {
    align-self: flex-end;
  }

  
  /* Header PETS */
  
  .header_theme_white .header_title {
    color: var(--color-dark-l);
  }
  
  .header_theme_white .header_subtitle {
    color: var(--color-dark-xl);
  }
  
 
  .header_theme_white .menu_link {
    color: var(--color-dark-l);
  }
  
  
  .header_theme_white .menu_link_active {
    color: var(--color-dark-3xl);
  }
  